# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
  - windows
arch:
  - x64
  - x86
julia:
  - 1.3
  - nightly
matrix:
  allow_failures:
    - julia: nightly
  exclude:
    - os: osx
      arch: x86
  fast_finish: true
notifications:
  email: false
